@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Zhi+Mang+Xing&display=swap');
body {
    background-image: url("originals.jpg");
    background-repeat: repeat-y;
    background-position: right;
    background-color: #E6E6FA;
    background-size: 400px;
	box-sizing: border-box;
}
.font {
	font-family: 'Ma Shan Zheng', cursive;
	font-size: 50px;
}